@use "../utils/mixins";

.menu-toggler {
	height: 31px;

	&__line {
		display: inline-block;
		height: 4px;
		width: 30px;
		border-radius: 2px;
		background-color: var(--white);
		position: relative;
		top: 0;
		left: 0;

		&::before,
		&::after {
			@extend .menu-toggler__line;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}

		&::before {
			margin-top: -8px;
		}

		&::after {
			margin-top: 8px;
		}
	}

	&__input:checked + &__line {
		background-color: rgba(255, 255, 255, 0);

		&::before {
			transform: rotate(405deg);
		}

		&::after {
			transform: rotate(-405deg);
		}

		&::before,
		&::after {
			margin: 0;
			background-color: var(--white);
		}
	}

	&__input {
		width: 0;
		height: 0;
	}
}

.menu-list {
	position: absolute;
	z-index: 2;
	top: 110%;
	right: 0;
	background-color: var(--menu-bg);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	width: 70vw;
	max-width: 20rem;
	transform: translate(10px, -10px);
	transition: transform 0.3s ease, opacity 0.3s ease;
	pointer-events: none;
	opacity: 0;
}

.menu-toggler__input:checked ~ .menu-list {
	transform: translate(0, 0);
	pointer-events: all;
	opacity: 1;
}

.menu-item {
	min-height: 46px;

	&__user-container {
		display: flex;
		align-items: center;
		overflow: hidden;
		white-space: nowrap;
	}

	&__user-sign {
		margin-right: 0.3rem;
	}

	&__username {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 0; /* important for flexbox ellipsis */
		margin: 0 2px;
	}

	&__username-close {
		flex-shrink: 0;
		user-select: none;
	}

	&[data-menu-item="auth"] {
		@include mixins.flex-space-between();
		gap: 1rem;
	}

	.sign-out,
	.sign-in {
		margin-top: 0.2rem;
	}

	&:not([data-menu-item="theme"]) {
		padding: 0.6rem;
	}

	&:hover,
	&:active {
		background-color: var(--item-hover);
	}

	&__theme {
		@include mixins.position-relative();
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.6rem;
	}

	&__mode {
		text-transform: capitalize;
	}
}
