@use "sass:map";
@use "sass:color";
@use "../themes/themes";

@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-space-between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin position-relative() {
	position: relative;
	top: 0;
	left: 0;
}

@mixin focus-style($color-name, $use-bg: false) {
  $color: map.get(themes.$base-colors, $color-name);

  &:focus {
    border-color: var(--#{$color-name});
    box-shadow: 0 0 0 0.2rem rgba($color, 0.25);
    
    @if $use-bg {
      background-color: color.scale($color, $lightness: 80%);
    }
  }
}